# View WB, IMF and Covid data combined

Data is previoiusly saved locally in CSV format, where columns are 'Country or Area', 'Item', 'Year', 'Value'.

In [3]:
import pandas as pd

df=pd.read_csv('IMF_statistics.csv')
df=df.append(pd.read_csv('WB_statistics.csv'))
df=df.append(pd.read_csv('Covid_statistics.csv'))
df=df.append(pd.read_csv('Covid_statistics_deaths.csv'))
print('Number of datapoints:',df.shape[0])
df.dtypes

Number of datapoints: 21791

value           float64
year              int64
feature_id        int64
country_code     object
month           float64
dtype: object

In [4]:
print('Indicators in data')
indicators=df.feature_id.unique()
for x in indicators:
    print(' ',x)
    print('    years:',df[df.feature_id==x].year.unique())

Indicators in data
  5
    years: [2010 2011 2012 2013 2014 2015 2016 2017 2018 2019]
  4
    years: [2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023
 2024 2025 2026]
  2
    years: [2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020]
  3
    years: [2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020]
  1
    years: [2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020]
  6
    years: [2020 2021]
  7
    years: [2020 2021]

In [5]:
df.to_csv('data.csv', index=False)

countries=df.country_code.unique()
print('Number of countries or areas in data:',len(countries))
df[df.country_code=='FIN']

Number of countries or areas in data: 291

      value  year  feature_id country_code  month
47     41.2  2010           5          FIN    NaN
197    42.5  2011           5          FIN    NaN
347    46.1  2012           5          FIN    NaN
497    48.0  2013           5          FIN    NaN
648    50.6  2014           5          FIN    NaN
...     ...   ...         ...          ...    ...
3241  174.6  2021           7          FIN    6.0
3471  177.4  2021           7          FIN    7.0
3701  185.5  2021           7          FIN    8.0
3932  194.5  2021           7          FIN    9.0
4159  208.7  2021           7          FIN   10.0

[104 rows x 5 columns]

In [6]:
df.shape

(21791, 5)

In [7]:
ccodes=pd.read_csv('countries.csv')[['Code2','country_code']]
ccodes.head()

  Code2 country_code
0    DZ          DZA
1    EG          EGY
2    LY          LBY
3    MA          MAR
4    SD          SDN

In [8]:
df2=pd.merge(df, ccodes.rename(columns={'Code2':'code2'}), on=['country_code'], how='left')
df2.head(50)
df2.shape

(21791, 6)

In [9]:
df2.to_csv('data.csv', index=False)

In [10]:
df2[df2.country_code=='USA']

        value  year  feature_id country_code  month code2
144      73.9  2010           5          USA    NaN    US
294      78.8  2011           5          USA    NaN    US
444      83.1  2012           5          USA    NaN    US
595      85.4  2013           5          USA    NaN    US
746      86.0  2014           5          USA    NaN    US
...       ...   ...         ...          ...    ...   ...
20863  1815.0  2021           7          USA    6.0    US
21093  1841.2  2021           7          USA    7.0    US
21324  1925.0  2021           7          USA    8.0    US
21552  2099.4  2021           7          USA    9.0    US
21777  2238.9  2021           7          USA   10.0    US

[104 rows x 6 columns]

In [11]:
df3=df2.dropna(subset=['value','year','feature_id','country_code','code2'])
df3=df3.drop(['code2'],axis=1)
df3.shape

(14797, 5)

In [12]:
df3.dtypes

value           float64
year              int64
feature_id        int64
country_code     object
month           float64
dtype: object

In [13]:
df3['value']=pd.to_numeric(df3['value'],errors='coerce')
df3.dtypes

value           float64
year              int64
feature_id        int64
country_code     object
month           float64
dtype: object

In [14]:
df3=df3.dropna(subset=['value','year','feature_id','country_code'])
df3.value.describe

<bound method NDFrame.describe of 0           7.7
1          57.7
2          10.5
3          37.2
4          89.7
          ...
21784       3.2
21787      61.6
21788    1484.8
21789     193.4
21790     309.8
Name: value, Length: 14797, dtype: float64>

In [15]:
df3=df3.to_csv('data.csv', index=False)