# View WB, IMF and Covid data combined

Data is previoiusly saved locally in CSV format, where columns are 'Country or Area', 'Item', 'Year', 'Value'.

In [59]:
import pandas as pd

df=pd.read_csv('IMF_statistics.csv')
df=df.append(pd.read_csv('WB_statistics.csv'))
df=df.append(pd.read_csv('Covid_statistics.csv'))
print('Number of datapoints:',df.shape[0])
df.dtypes

Number of datapoints: 17467

value           float64
year              int64
feature_id        int64
country_code     object
month           float64
dtype: object

In [60]:
print('Indicators in data')
indicators=df.feature_id.unique()
for x in indicators:
    print(' ',x)
    print('    years:',df[df.feature_id==x].year.unique())

Indicators in data
  5
    years: [2010 2011 2012 2013 2014 2015 2016 2017 2018 2019]
  4
    years: [2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023
 2024 2025 2026]
  2
    years: [2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020]
  3
    years: [2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020]
  1
    years: [2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020]
  6
    years: [2020 2021]

In [61]:
df.to_csv('data.csv', index=False)

countries=df.country_code.unique()
print('Number of countries or areas in data:',len(countries))
df[df.country_code=='FIN']

Number of countries or areas in data: 291

      value  year  feature_id country_code  month
47     41.2  2010           5          FIN    NaN
197    42.5  2011           5          FIN    NaN
347    46.1  2012           5          FIN    NaN
497    48.0  2013           5          FIN    NaN
648    50.6  2014           5          FIN    NaN
...     ...   ...         ...          ...    ...
3240   59.3  2021           6          FIN    6.0
3470    NaN  2021           6          FIN    7.0
3700   72.5  2021           6          FIN    8.0
3931   74.5  2021           6          FIN    9.0
4158   75.4  2021           6          FIN   10.0

[82 rows x 5 columns]

In [62]:
df.shape

(17467, 5)

In [64]:
ccodes=pd.read_csv('countries.csv')[['Code2','country_code']]
ccodes.head()

  Code2 country_code
0    DZ          DZA
1    EG          EGY
2    LY          LBY
3    MA          MAR
4    SD          SDN

In [65]:
df2=pd.merge(df, ccodes.rename(columns={'Code2':'code2'}), on=['country_code'], how='left')
df2.head(50)
df2.shape

(17467, 6)

In [66]:
df2.to_csv('data.csv', index=False)

In [67]:
df2[df2.country_code=='USA']

       value  year  feature_id country_code  month code2
144     73.9  2010           5          USA    NaN    US
294     78.8  2011           5          USA    NaN    US
444     83.1  2012           5          USA    NaN    US
595     85.4  2013           5          USA    NaN    US
746     86.0  2014           5          USA    NaN    US
...      ...   ...         ...          ...    ...   ...
16540   53.7  2021           6          USA    6.0    US
16770   56.8  2021           6          USA    7.0    US
17001   61.0  2021           6          USA    8.0    US
17229   63.7  2021           6          USA    9.0    US
17453   65.1  2021           6          USA   10.0    US

[82 rows x 6 columns]

In [68]:
df3=df2.dropna(subset=['value','year','feature_id','country_code','code2'])
df3=df3.drop(['code2'],axis=1)
df3.shape

(11399, 5)

In [69]:
df3.dtypes

value           float64
year              int64
feature_id        int64
country_code     object
month           float64
dtype: object

In [70]:
df3['value']=pd.to_numeric(df3['value'],errors='coerce')
df3.dtypes

value           float64
year              int64
feature_id        int64
country_code     object
month           float64
dtype: object

In [71]:
df3=df3.dropna(subset=['value','year','feature_id','country_code'])
df3.value.describe

<bound method NDFrame.describe of 0         7.7
1        57.7
2        10.5
3        37.2
4        89.7
         ...
17453    65.1
17458    57.9
17461    52.1
17462    57.6
17466    21.5
Name: value, Length: 11399, dtype: float64>

In [72]:
df3=df3.to_csv('data.csv', index=False)