# Data retriaval from IMF data
Data is downloaded manually in excel format. After downlaoded files are converted from xls to xlsx format.

Data is saved in CSV format, where columns are 'Country or Area', 'Item', 'Year', 'Value'.

https://www.imf.org/external/datamapper/CG_DEBT_GDP@GDD/OEMDC/ADVEC/WEOWORLD

https://www.imf.org/external/datamapper/NGDP_RPCH@WEO/OEMDC/ADVEC/WEOWORLD

In [57]:
import pandas as pd
import numpy as np

def extract_from_xlsx(name):
    df = pd.read_excel(name)
    data_name = df.columns[0]
    df=df.rename(columns={data_name:'Country or Area'})
    df2=pd.DataFrame()
    for col in df.columns:
        if col!='Country or Area' and col>2009:
            a=df[['Country or Area',col]].copy()
            a['Year']=col
            a['Item']=data_name
            a=a.rename(columns={col:'Value'}).dropna(subset = ['Country or Area'])
            df2=df2.append(a)
    df2['Value']=pd.to_numeric(df2['Value'],errors='coerce')
    return df2

In [58]:
df=extract_from_xlsx('imf_rawdata/imf_debt.xlsx').round({'Value':1})
df=df.append(extract_from_xlsx('imf_rawdata/imf_gdp_growth.xlsx').round({'Value':1}))
df.to_csv('IMF_statistics.csv', index=False)
df.head(20)

        Country or Area  Value  Year                                      Item
1           Afghanistan    7.7  2010  Central Government Debt (Percent of GDP)
2               Albania   57.7  2010  Central Government Debt (Percent of GDP)
3               Algeria   10.5  2010  Central Government Debt (Percent of GDP)
4                Angola   37.2  2010  Central Government Debt (Percent of GDP)
5   Antigua and Barbuda   89.7  2010  Central Government Debt (Percent of GDP)
6             Argentina   43.5  2010  Central Government Debt (Percent of GDP)
7               Armenia   33.8  2010  Central Government Debt (Percent of GDP)
8             Australia   14.3  2010  Central Government Debt (Percent of GDP)
9               Austria   59.7  2010  Central Government Debt (Percent of GDP)
10           Azerbaijan    5.0  2010  Central Government Debt (Percent of GDP)
11         Bahamas, The   32.7  2010  Central Government Debt (Percent of GDP)
12              Bahrain   29.7  2010  Central Government Debt (Percent of GDP)
13           Bangladesh   35.5  2010  Central Government Debt (Percent of GDP)
14             Barbados  108.9  2010  Central Government Debt (Percent of GDP)
15              Belarus   22.5  2010  Central Government Debt (Percent of GDP)
16              Belgium   85.8  2010  Central Government Debt (Percent of GDP)
17               Belize   87.7  2010  Central Government Debt (Percent of GDP)
18                Benin   21.0  2010  Central Government Debt (Percent of GDP)
19               Bhutan   61.0  2010  Central Government Debt (Percent of GDP)
20              Bolivia   34.4  2010  Central Government Debt (Percent of GDP)

In [64]:
ccodes=pd.read_csv('countries.csv')

In [65]:
ccodes.head(10)

,Region Code,Region Name,Sub-region Code,Sub-region Name,Name,M49 Code,Code2,country_code,Least Developed Countries (LDC),Developed / Developing Countries
0,2.0,Africa,15.0,Northern Africa,Algeria,12,DZ,DZA,NaN,Developing
1,2.0,Africa,15.0,Northern Africa,Egypt,818,EG,EGY,NaN,Developing
2,2.0,Africa,15.0,Northern Africa,Libya,434,LY,LBY,NaN,Developing
3,2.0,Africa,15.0,Northern Africa,Morocco,504,MA,MAR,NaN,Developing
4,2.0,Africa,15.0,Northern Africa,Sudan,729,SD,SDN,x,Developing
5,2.0,Africa,15.0,Northern Africa,Tunisia,788,TN,TUN,NaN,Developing
6,2.0,Africa,15.0,Northern Africa,Western Sahara,732,EH,ESH,NaN,Developing
7,2.0,Africa,202.0,Sub-Saharan Africa,British Indian Ocean Territory,86,IO,IOT,NaN,Developing
8,2.0,Africa,202.0,Sub-Saharan Africa,Burundi,108,BI,BDI,x,Developing
9,2.0,Africa,202.0,Sub-Saharan Africa,Comoros,174,KM,COM,x,Developing

In [67]:
ccodes=ccodes[['Name','country_code']]

In [69]:
df=pd.merge(df, ccodes.rename(columns={'Name':'Country or Area'}), on=['Country or Area'], how='left')

In [70]:
print('Countries before dropping nan:',len(df['Country or Area'].unique()))

Countries before dropping nan: 228

In [71]:
df[df['Country or Area']=='Finland']

,Country or Area,Value,Year,Item,country_code
53,Finland,41.2,2010,Central Government Debt (Percent of GDP),FIN
228,Finland,42.5,2011,Central Government Debt (Percent of GDP),FIN
403,Finland,46.1,2012,Central Government Debt (Percent of GDP),FIN
578,Finland,48.0,2013,Central Government Debt (Percent of GDP),FIN
753,Finland,50.6,2014,Central Government Debt (Percent of GDP),FIN
928,Finland,53.0,2015,Central Government Debt (Percent of GDP),FIN
1103,Finland,52.8,2016,Central Government Debt (Percent of GDP),FIN
1278,Finland,51.0,2017,Central Government Debt (Percent of GDP),FIN
1453,Finland,49.3,2018,Central Government Debt (Percent of GDP),FIN
1628,Finland,49.1,2019,Central Government Debt (Percent of GDP),FIN
1808,Finland,3.2,2010,Real GDP growth (Annual percent change),FIN
2036,Finland,2.5,2011,Real GDP growth (Annual percent change),FIN
2264,Finland,-1.4,2012,Real GDP growth (Annual percent change),FIN
2492,Finland,-0.9,2013,Real GDP growth (Annual percent change),FIN
2720,Finland,-0.4,2014,Real GDP growth (Annual percent change),FIN
2948,Finland,0.5,2015,Real GDP growth (Annual percent change),FIN
3176,Finland,2.8,2016,Real GDP growth (Annual percent change),FIN
3404,Finland,3.2,2017,Real GDP growth (Annual percent change),FIN
3632,Finland,1.3,2018,Real GDP growth (Annual percent change),FIN
3860,Finland,1.3,2019,Real GDP growth (Annual percent change),FIN
4088,Finland,-2.9,2020,Real GDP growth (Annual percent change),FIN
4316,Finland,2.3,2021,Real GDP growth (Annual percent change),FIN
4544,Finland,2.5,2022,Real GDP growth (Annual percent change),FIN
4772,Finland,1.5,2023,Real GDP growth (Annual percent change),FIN
5000,Finland,1.3,2024,Real GDP growth (Annual percent change),FIN
5228,Finland,1.3,2025,Real GDP growth (Annual percent change),FIN
5456,Finland,1.3,2026,Real GDP growth (Annual percent change),FIN

In [72]:
df2=df.dropna()

In [73]:
print('Countries before dropping nan:',len(df2['Country or Area'].unique()))

Countries before dropping nan: 169

In [75]:
df[df.country_code=='GBR'] #USA

,Country or Area,Value,Year,Item,country_code
164,United Kingdom of Great Britain and Northern I...,73.6,2010,Central Government Debt (Percent of GDP),GBR
339,United Kingdom of Great Britain and Northern I...,79.1,2011,Central Government Debt (Percent of GDP),GBR
514,United Kingdom of Great Britain and Northern I...,82.3,2012,Central Government Debt (Percent of GDP),GBR
689,United Kingdom of Great Britain and Northern I...,83.3,2013,Central Government Debt (Percent of GDP),GBR
864,United Kingdom of Great Britain and Northern I...,85.3,2014,Central Government Debt (Percent of GDP),GBR
1039,United Kingdom of Great Britain and Northern I...,86.0,2015,Central Government Debt (Percent of GDP),GBR
1214,United Kingdom of Great Britain and Northern I...,85.7,2016,Central Government Debt (Percent of GDP),GBR
1389,United Kingdom of Great Britain and Northern I...,85.2,2017,Central Government Debt (Percent of GDP),GBR
1564,United Kingdom of Great Britain and Northern I...,84.7,2018,Central Government Debt (Percent of GDP),GBR
1739,United Kingdom of Great Britain and Northern I...,84.4,2019,Central Government Debt (Percent of GDP),GBR
1934,United Kingdom of Great Britain and Northern I...,2.1,2010,Real GDP growth (Annual percent change),GBR
2162,United Kingdom of Great Britain and Northern I...,1.3,2011,Real GDP growth (Annual percent change),GBR
2390,United Kingdom of Great Britain and Northern I...,1.4,2012,Real GDP growth (Annual percent change),GBR
2618,United Kingdom of Great Britain and Northern I...,2.2,2013,Real GDP growth (Annual percent change),GBR
2846,United Kingdom of Great Britain and Northern I...,2.9,2014,Real GDP growth (Annual percent change),GBR
3074,United Kingdom of Great Britain and Northern I...,2.4,2015,Real GDP growth (Annual percent change),GBR
3302,United Kingdom of Great Britain and Northern I...,1.7,2016,Real GDP growth (Annual percent change),GBR
3530,United Kingdom of Great Britain and Northern I...,1.7,2017,Real GDP growth (Annual percent change),GBR
3758,United Kingdom of Great Britain and Northern I...,1.3,2018,Real GDP growth (Annual percent change),GBR
3986,United Kingdom of Great Britain and Northern I...,1.4,2019,Real GDP growth (Annual percent change),GBR
4214,United Kingdom of Great Britain and Northern I...,-9.9,2020,Real GDP growth (Annual percent change),GBR
4442,United Kingdom of Great Britain and Northern I...,5.3,2021,Real GDP growth (Annual percent change),GBR
4670,United Kingdom of Great Britain and Northern I...,5.1,2022,Real GDP growth (Annual percent change),GBR
4898,United Kingdom of Great Britain and Northern I...,2.0,2023,Real GDP growth (Annual percent change),GBR
5126,United Kingdom of Great Britain and Northern I...,1.8,2024,Real GDP growth (Annual percent change),GBR
5354,United Kingdom of Great Britain and Northern I...,1.5,2025,Real GDP growth (Annual percent change),GBR
5582,United Kingdom of Great Britain and Northern I...,1.4,2026,Real GDP growth (Annual percent change),GBR

In [76]:
df3=df2.drop(['Country or Area'], axis=1).rename(columns={'Item':'feature_id','Year':'year','Value':'value', 'Code3':'country_code'})
df3.loc[df3.feature_id=='Central Government Debt (Percent of GDP)','feature_id']=5
df3.loc[df3.feature_id=='Real GDP growth (Annual percent change)','feature_id']=4
df3['month']=np.nan
df3

      value  year feature_id country_code  month
0       7.7  2010          5          AFG    NaN
1      57.7  2010          5          ALB    NaN
2      10.5  2010          5          DZA    NaN
3      37.2  2010          5          AGO    NaN
4      89.7  2010          5          ATG    NaN
...     ...   ...        ...          ...    ...
5585    5.5  2026          4          UZB    NaN
5586    2.7  2026          4          VUT    NaN
5590    5.5  2026          4          YEM    NaN
5591    1.6  2026          4          ZMB    NaN
5592    2.5  2026          4          ZWE    NaN

[4369 rows x 5 columns]

In [77]:
df3.to_csv('IMF_statistics.csv', index=False)