# Data retriaval from IMF data
Data is downloaded manually in excel format. After downlaoded files are converted from xls to xlsx format.

Data is saved in CSV format, where columns are 'Country or Area', 'Item', 'Year', 'Value'.

https://www.imf.org/external/datamapper/CG_DEBT_GDP@GDD/OEMDC/ADVEC/WEOWORLD

https://www.imf.org/external/datamapper/NGDP_RPCH@WEO/OEMDC/ADVEC/WEOWORLD

In [9]:
import pandas as pd

def extract_from_xlsx(name):
    df = pd.read_excel(name)
    data_name = df.columns[0]
    df=df.rename(columns={data_name:'Country or Area'})
    df2=pd.DataFrame()
    for col in df.columns:
        if col!='Country or Area' and col>2016:
            a=df[['Country or Area',col]].copy()
            a['Year']=col
            a['Item']=data_name
            a=a.rename(columns={col:'Value'}).dropna(subset = ['Country or Area'])
            df2=df2.append(a)
    return df2

In [10]:
df=extract_from_xlsx('imf_rawdata/imf_debt.xlsx')
df=df.append(extract_from_xlsx('imf_rawdata/imf_gdp_growth.xlsx'))
df.to_csv('IMF_statistics.csv', index=False)
df.head(20)

,Country or Area,Value,Year,Item
1,Afghanistan,7.99766,2017,Central Government Debt (Percent of GDP)
2,Albania,70.118725,2017,Central Government Debt (Percent of GDP)
3,Algeria,27.259228,2017,Central Government Debt (Percent of GDP)
4,Angola,69.264947,2017,Central Government Debt (Percent of GDP)
5,Antigua and Barbuda,92.322144,2017,Central Government Debt (Percent of GDP)
6,Argentina,57.027842,2017,Central Government Debt (Percent of GDP)
7,Armenia,53.704434,2017,Central Government Debt (Percent of GDP)
8,Australia,32.26376,2017,Central Government Debt (Percent of GDP)
9,Austria,57.046286,2017,Central Government Debt (Percent of GDP)
10,Azerbaijan,22.508608,2017,Central Government Debt (Percent of GDP)
11,"Bahamas, The",52.37688,2017,Central Government Debt (Percent of GDP)
12,Bahrain,88.138294,2017,Central Government Debt (Percent of GDP)
13,Bangladesh,33.376308,2017,Central Government Debt (Percent of GDP)
14,Barbados,159.12634,2017,Central Government Debt (Percent of GDP)
15,Belarus,47.214587,2017,Central Government Debt (Percent of GDP)
16,Belgium,86.807024,2017,Central Government Debt (Percent of GDP)
17,Belize,104.39668,2017,Central Government Debt (Percent of GDP)
18,Benin,39.598463,2017,Central Government Debt (Percent of GDP)
19,Bhutan,111.72426,2017,Central Government Debt (Percent of GDP)
20,Bolivia,32.872792,2017,Central Government Debt (Percent of GDP)

In [11]:
ccodes=pd.read_csv('countries.csv')

In [12]:
ccodes.head(10)

,Region Code,Region Name,Sub-region Code,Sub-region Name,Country or Area,M49 Code,Code2,Code3,Least Developed Countries (LDC),Developed / Developing Countries
0,2.0,Africa,15.0,Northern Africa,Algeria,12,DZ,DZA,NaN,Developing
1,2.0,Africa,15.0,Northern Africa,Egypt,818,EG,EGY,NaN,Developing
2,2.0,Africa,15.0,Northern Africa,Libya,434,LY,LBY,NaN,Developing
3,2.0,Africa,15.0,Northern Africa,Morocco,504,MA,MAR,NaN,Developing
4,2.0,Africa,15.0,Northern Africa,Sudan,729,SD,SDN,x,Developing
5,2.0,Africa,15.0,Northern Africa,Tunisia,788,TN,TUN,NaN,Developing
6,2.0,Africa,15.0,Northern Africa,Western Sahara,732,EH,ESH,NaN,Developing
7,2.0,Africa,202.0,Sub-Saharan Africa,British Indian Ocean Territory,86,IO,IOT,NaN,Developing
8,2.0,Africa,202.0,Sub-Saharan Africa,Burundi,108,BI,BDI,x,Developing
9,2.0,Africa,202.0,Sub-Saharan Africa,Comoros,174,KM,COM,x,Developing

In [13]:
ccodes=ccodes[['Country or Area','Code3']]

In [14]:
df=pd.merge(df, ccodes, on=['Country or Area'], how='left')

In [15]:
print('Countries before dropping nan:',len(df['Country or Area'].unique()))

Countries before dropping nan: 228

In [16]:
df[df['Country or Area']=='Finland']

,Country or Area,Value,Year,Item,Code3
53,Finland,51.034599,2017,Central Government Debt (Percent of GDP),FIN
228,Finland,49.337077,2018,Central Government Debt (Percent of GDP),FIN
403,Finland,49.128897,2019,Central Government Debt (Percent of GDP),FIN
583,Finland,3.2,2017,Real GDP growth (Annual percent change),FIN
811,Finland,1.3,2018,Real GDP growth (Annual percent change),FIN
1039,Finland,1.3,2019,Real GDP growth (Annual percent change),FIN
1267,Finland,-2.9,2020,Real GDP growth (Annual percent change),FIN
1495,Finland,2.3,2021,Real GDP growth (Annual percent change),FIN
1723,Finland,2.5,2022,Real GDP growth (Annual percent change),FIN
1951,Finland,1.5,2023,Real GDP growth (Annual percent change),FIN
2179,Finland,1.3,2024,Real GDP growth (Annual percent change),FIN
2407,Finland,1.3,2025,Real GDP growth (Annual percent change),FIN
2635,Finland,1.3,2026,Real GDP growth (Annual percent change),FIN

In [17]:
df2=df.dropna()

In [18]:
print('Countries before dropping nan:',len(df2['Country or Area'].unique()))

Countries before dropping nan: 166

In [19]:
df

,Country or Area,Value,Year,Item,Code3
0,Afghanistan,7.99766,2017,Central Government Debt (Percent of GDP),AFG
1,Albania,70.118725,2017,Central Government Debt (Percent of GDP),ALB
2,Algeria,27.259228,2017,Central Government Debt (Percent of GDP),DZA
3,Angola,69.264947,2017,Central Government Debt (Percent of GDP),AGO
4,Antigua and Barbuda,92.322144,2017,Central Government Debt (Percent of GDP),ATG
...,...,...,...,...,...
2800,Middle East and Central Asia,3.6,2026,Real GDP growth (Annual percent change),NaN
2801,Other advanced economies,2.3,2026,Real GDP growth (Annual percent change),NaN
2802,Sub-Saharan Africa,4,2026,Real GDP growth (Annual percent change),NaN
2803,World,3.3,2026,Real GDP growth (Annual percent change),NaN
2804,"©IMF, 2021",NaN,2026,Real GDP growth (Annual percent change),NaN

In [20]:
df2.to_csv('IMF_statistics.csv', index=False)