# Data retriaval from World bank API

https://databank.worldbank.org/source/world-development-indicators

### imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from io import BytesIO
from zipfile import ZipFile
import requests
import xml.etree.ElementTree as et

### Download xml

for example 
- GDP:'NY.GDP.PCAP.CD'
- International tourism, number of arrivals: 'ST.INT.ARVL'
- Unemployment, total (% of total labor force) (modeled ILO estimate): 'SL.UEM.TOTL.ZS'

Method to downlaod data from api and to save it in local csv file. Only data on years >2009.

Data is saved in CSV format, where columns are 'Country or Area', 'Item', 'Year', 'Value'.

In [52]:
def get_WB_indicator(indicator):
    url_base='https://api.worldbank.org/v2/en/indicator/'
    filename = requests.get(url_base+indicator+'?downloadformat=xml').content
    zf = ZipFile(BytesIO(filename), 'r' )
    data=zf.read(zf.namelist()[0])
    dataroot = et.fromstring(data)
    df = pd.DataFrame()
    for m in dataroot[0]:
        if m.tag=='record':
            d={}
            for x in m:
                d[x.attrib['name']]=x.text
                if x.attrib['name']=='Country or Area':
                    d['Code3']=x.attrib['key']
            record = pd.Series(data=d, dtype=str, index=['Country or Area', 'Item', 'Year','Value','Code3'])
            if int(d['Year'])>2009:
                df=df.append(record, ignore_index=True)
    df['Value']=pd.to_numeric(df['Value'],errors='coerce')
    return df

df=get_WB_indicator('ST.INT.ARVL').round({'Value':0})
df=df.append(get_WB_indicator('SL.UEM.TOTL.ZS').round({'Value':1}))
df=df.append(get_WB_indicator('NY.GDP.PCAP.CD').round({'Value':0}))
df.loc[df.Item=='Unemployment, total (% of total labor force) (modeled ILO estimate)','Item']='Unemployment (% of total labor force)'
df.to_csv('WB_statistics.csv', index=False)

In [53]:
df.shape

(8778, 5)

In [54]:
df.head()

,Country or Area,Item,Year,Value,Code3
0,Aruba,"International tourism, number of arrivals",2010,1394000.0,ABW
1,Aruba,"International tourism, number of arrivals",2011,1469000.0,ABW
2,Aruba,"International tourism, number of arrivals",2012,1481000.0,ABW
3,Aruba,"International tourism, number of arrivals",2013,1667000.0,ABW
4,Aruba,"International tourism, number of arrivals",2014,1739000.0,ABW

In [55]:
df[df['Country or Area']=='Finland']

,Country or Area,Item,Year,Value,Code3
825,Finland,"International tourism, number of arrivals",2010,3670000.0,FIN
826,Finland,"International tourism, number of arrivals",2011,4192000.0,FIN
827,Finland,"International tourism, number of arrivals",2012,4226000.0,FIN
828,Finland,"International tourism, number of arrivals",2013,2797000.0,FIN
829,Finland,"International tourism, number of arrivals",2014,2731000.0,FIN
830,Finland,"International tourism, number of arrivals",2015,2622000.0,FIN
831,Finland,"International tourism, number of arrivals",2016,2789000.0,FIN
832,Finland,"International tourism, number of arrivals",2017,3180000.0,FIN
833,Finland,"International tourism, number of arrivals",2018,3224000.0,FIN
834,Finland,"International tourism, number of arrivals",2019,3290000.0,FIN
835,Finland,"International tourism, number of arrivals",2020,NaN,FIN
825,Finland,Unemployment (% of total labor force),2010,8.4,FIN
826,Finland,Unemployment (% of total labor force),2011,7.8,FIN
827,Finland,Unemployment (% of total labor force),2012,7.7,FIN
828,Finland,Unemployment (% of total labor force),2013,8.2,FIN
829,Finland,Unemployment (% of total labor force),2014,8.7,FIN
830,Finland,Unemployment (% of total labor force),2015,9.4,FIN
831,Finland,Unemployment (% of total labor force),2016,8.8,FIN
832,Finland,Unemployment (% of total labor force),2017,8.6,FIN
833,Finland,Unemployment (% of total labor force),2018,7.4,FIN
834,Finland,Unemployment (% of total labor force),2019,6.7,FIN
835,Finland,Unemployment (% of total labor force),2020,7.8,FIN
825,Finland,GDP per capita (current US$),2010,46460.0,FIN
826,Finland,GDP per capita (current US$),2011,51082.0,FIN
827,Finland,GDP per capita (current US$),2012,47711.0,FIN
828,Finland,GDP per capita (current US$),2013,49878.0,FIN
829,Finland,GDP per capita (current US$),2014,50260.0,FIN
830,Finland,GDP per capita (current US$),2015,42785.0,FIN
831,Finland,GDP per capita (current US$),2016,43784.0,FIN
832,Finland,GDP per capita (current US$),2017,46297.0,FIN
833,Finland,GDP per capita (current US$),2018,50013.0,FIN
834,Finland,GDP per capita (current US$),2019,48712.0,FIN
835,Finland,GDP per capita (current US$),2020,49041.0,FIN

In [56]:
df2=df.drop(['Country or Area'], axis=1).rename(columns={'Item':'feature_id','Year':'year','Value':'value', 'Code3':'country_code'})
df2.loc[df2.feature_id=='Unemployment (% of total labor force)','feature_id']=3
df2.loc[df2.feature_id=='International tourism, number of arrivals','feature_id']=2
df2.loc[df2.feature_id=='GDP per capita (current US$)','feature_id']=1
df2['month']=np.nan

In [57]:
df2.head(10)

  feature_id  year      value country_code  month
0          2  2010  1394000.0          ABW    NaN
1          2  2011  1469000.0          ABW    NaN
2          2  2012  1481000.0          ABW    NaN
3          2  2013  1667000.0          ABW    NaN
4          2  2014  1739000.0          ABW    NaN
5          2  2015  1832000.0          ABW    NaN
6          2  2016  1758000.0          ABW    NaN
7          2  2017  1863000.0          ABW    NaN
8          2  2018  1897000.0          ABW    NaN
9          2  2019  1951000.0          ABW    NaN

In [58]:
df2[df2.country_code=='FIN']

    feature_id  year      value country_code  month
825          2  2010  3670000.0          FIN    NaN
826          2  2011  4192000.0          FIN    NaN
827          2  2012  4226000.0          FIN    NaN
828          2  2013  2797000.0          FIN    NaN
829          2  2014  2731000.0          FIN    NaN
830          2  2015  2622000.0          FIN    NaN
831          2  2016  2789000.0          FIN    NaN
832          2  2017  3180000.0          FIN    NaN
833          2  2018  3224000.0          FIN    NaN
834          2  2019  3290000.0          FIN    NaN
835          2  2020        NaN          FIN    NaN
825          3  2010        8.4          FIN    NaN
826          3  2011        7.8          FIN    NaN
827          3  2012        7.7          FIN    NaN
828          3  2013        8.2          FIN    NaN
829          3  2014        8.7          FIN    NaN
830          3  2015        9.4          FIN    NaN
831          3  2016        8.8          FIN    NaN
832          3  2017        8.6          FIN    NaN
833          3  2018        7.4          FIN    NaN
834          3  2019        6.7          FIN    NaN
835          3  2020        7.8          FIN    NaN
825          1  2010    46460.0          FIN    NaN
826          1  2011    51082.0          FIN    NaN
827          1  2012    47711.0          FIN    NaN
828          1  2013    49878.0          FIN    NaN
829          1  2014    50260.0          FIN    NaN
830          1  2015    42785.0          FIN    NaN
831          1  2016    43784.0          FIN    NaN
832          1  2017    46297.0          FIN    NaN
833          1  2018    50013.0          FIN    NaN
834          1  2019    48712.0          FIN    NaN
835          1  2020    49041.0          FIN    NaN

In [59]:
df2.to_csv('WB_statistics.csv', index=False)