# Covid related death rate

source: www.ourworldindata.org

There is also this indicator: new_deaths_per_million

Country code: three letter 'iso_code'

In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "https://covid.ourworldindata.org/data/owid-covid-data.csv"
df = pd.read_csv(url)

In [3]:
df=df[['total_deaths_per_million','location','date']]
df['date']=pd.to_datetime(df.date,format='%Y-%m-%d')
df['year']=df.date.dt.year
df['month']=df.date.dt.month
df['day']=df.date.dt.day

In [4]:
groups=df.groupby(['year','month','location']).apply(lambda df : df.sort_values('date', ascending=False).iloc[0])
groups.head()

                      total_deaths_per_million   location       date  year  \
year month location
2020 1     Argentina                       NaN  Argentina 2020-01-31  2020
           Asia                          0.046       Asia 2020-01-31  2020
           Australia                       NaN  Australia 2020-01-31  2020
           Cambodia                        NaN   Cambodia 2020-01-31  2020
           Canada                          NaN     Canada 2020-01-31  2020

                      month  day
year month location
2020 1     Argentina      1   31
           Asia           1   31
           Australia      1   31
           Cambodia       1   31
           Canada         1   31

In [5]:
print('Number of locations:',len(df.location.unique()))
print('min date:',df.date.min())
print('max date:',df.date.max())

Number of locations: 233
min date: 2020-01-01 00:00:00
max date: 2021-09-26 00:00:00

## Number of areas having data per month

In [6]:
groups['total_deaths_per_million'].groupby(['year','month']).count()

year  month
2020  1          3
      2         16
      3        134
      4        166
      5        175
      6        175
      7        181
      8        181
      9        181
      10       181
      11       182
      12       184
2021  1        188
      2        188
      3        189
      4        191
      5        192
      6        193
      7        193
      8        194
      9        194
Name: total_deaths_per_million, dtype: int64

## Number on monthly datapoints per country

In [7]:
counts=groups['total_deaths_per_million'].groupby(['location']).count()
counts.describe()

count    233.000000
mean      14.939914
std        7.265043
min        0.000000
25%       17.000000
50%       19.000000
75%       19.000000
max       21.000000
Name: total_deaths_per_million, dtype: float64

## Data on continents

In [8]:
counts=groups[groups.location.isin(['Europe','Asia','Africa','North America','South America'])]['total_deaths_per_million'].groupby(['location']).count()
counts

location
Africa           19
Asia             21
Europe           20
North America    20
South America    19
Name: total_deaths_per_million, dtype: int64

## Maximum values per month

In [9]:
groups['total_deaths_per_million'].groupby(['year','month']).max()

year  month
2020  1           0.147
      2          29.403
      3         764.481
      4        1205.528
      5        1234.931
      6        1234.931
      7        1678.147
      8        2206.633
      9        2462.124
      10       2592.791
      11       2681.372
      12       2789.917
2021  1        3111.865
      2        3672.187
      3        4299.116
      4        4997.120
      5        5509.179
      6        5765.419
      7        5885.985
      8        5943.240
      9        5974.086
Name: total_deaths_per_million, dtype: float64