# Data retriaval from IMF data
Data is downloaded manually in excel format. After downlaoded files are converted from xls to xlsx format.

Data is saved in CSV format, where columns are 'Country or Area', 'Item', 'Year', 'Value'.

https://www.imf.org/external/datamapper/CG_DEBT_GDP@GDD/OEMDC/ADVEC/WEOWORLD

https://www.imf.org/external/datamapper/NGDP_RPCH@WEO/OEMDC/ADVEC/WEOWORLD

In [42]:
import pandas as pd

def extract_from_xlsx(name):
    df = pd.read_excel(name)
    data_name = df.columns[0]
    df=df.rename(columns={data_name:'Country or Area'})
    df2=pd.DataFrame()
    for col in df.columns:
        if col!='Country or Area' and col>2016:
            a=df[['Country or Area',col]].copy()
            a['Year']=col
            a['Item']=data_name
            a=a.rename(columns={col:'Value'}).dropna(subset = ['Country or Area'])
            df2=df2.append(a)
    return df2

In [43]:
df=extract_from_xlsx('imf_rawdata/imf_debt.xlsx')
df=df.append(extract_from_xlsx('imf_rawdata/imf_gdp_growth.xlsx'))
df.to_csv('IMF_statistics.csv', index=False)
df.head(20)

,Country or Area,Value,Year,Item
1,Afghanistan,7.99766,2017,Central Government Debt (Percent of GDP)
2,Albania,70.118725,2017,Central Government Debt (Percent of GDP)
3,Algeria,27.259228,2017,Central Government Debt (Percent of GDP)
4,Angola,69.264947,2017,Central Government Debt (Percent of GDP)
5,Antigua and Barbuda,92.322144,2017,Central Government Debt (Percent of GDP)
6,Argentina,57.027842,2017,Central Government Debt (Percent of GDP)
7,Armenia,53.704434,2017,Central Government Debt (Percent of GDP)
8,Australia,32.26376,2017,Central Government Debt (Percent of GDP)
9,Austria,57.046286,2017,Central Government Debt (Percent of GDP)
10,Azerbaijan,22.508608,2017,Central Government Debt (Percent of GDP)
11,"Bahamas, The",52.37688,2017,Central Government Debt (Percent of GDP)
12,Bahrain,88.138294,2017,Central Government Debt (Percent of GDP)
13,Bangladesh,33.376308,2017,Central Government Debt (Percent of GDP)
14,Barbados,159.12634,2017,Central Government Debt (Percent of GDP)
15,Belarus,47.214587,2017,Central Government Debt (Percent of GDP)
16,Belgium,86.807024,2017,Central Government Debt (Percent of GDP)
17,Belize,104.39668,2017,Central Government Debt (Percent of GDP)
18,Benin,39.598463,2017,Central Government Debt (Percent of GDP)
19,Bhutan,111.72426,2017,Central Government Debt (Percent of GDP)
20,Bolivia,32.872792,2017,Central Government Debt (Percent of GDP)

In [44]:
ccodes=pd.read_csv('country_codes.csv')

In [45]:
ccodes.head(10)

,FIFA,Dial,ISO3166-1-Alpha-3,MARC,is_independent,ISO3166-1-numeric,GAUL,FIPS,WMO,ISO3166-1-Alpha-2,...,Sub-region Name,official_name_ru,Global Name,Capital,Continent,TLD,Languages,Geoname ID,CLDR display name,EDGAR
0,TPE,886,TWN,ch,Yes,158.0,925,TW,,TW,...,NaN,NaN,NaN,Taipei,AS,.tw,"zh-TW,zh,nan,hak",1668284.0,Taiwan,NaN
1,AFG,93,AFG,af,Yes,4.0,1,AF,AF,AF,...,Southern Asia,Афганистан,World,Kabul,AS,.af,"fa-AF,ps,uz-AF,tk",1149361.0,Afghanistan,B2
2,ALB,355,ALB,aa,Yes,8.0,3,AL,AB,AL,...,Southern Europe,Албания,World,Tirana,EU,.al,"sq,el",783754.0,Albania,B3
3,ALG,213,DZA,ae,Yes,12.0,4,AG,AL,DZ,...,Northern Africa,Алжир,World,Algiers,AF,.dz,ar-DZ,2589581.0,Algeria,B4
4,ASA,1-684,ASM,as,Territory of US,16.0,5,AQ,,AS,...,Polynesia,Американское Самоа,World,Pago Pago,OC,.as,"en-AS,sm,to",5880801.0,American Samoa,B5
5,AND,376,AND,an,Yes,20.0,7,AN,,AD,...,Southern Europe,Андорра,World,Andorra la Vella,EU,.ad,ca,3041565.0,Andorra,B6
6,ANG,244,AGO,ao,Yes,24.0,8,AO,AN,AO,...,Sub-Saharan Africa,Ангола,World,Luanda,AF,.ao,pt-AO,3351879.0,Angola,B7
7,AIA,1-264,AIA,am,Territory of GB,660.0,9,AV,,AI,...,Latin America and the Caribbean,Ангилья,World,The Valley,NaN,.ai,en-AI,3573511.0,Anguilla,1A
8,ROS,672,ATA,ay,International,10.0,10,AY,AA,AQ,...,NaN,Антарктике,World,NaN,AN,.aq,NaN,6697173.0,Antarctica,B8
9,ATG,1-268,ATG,aq,Yes,28.0,11,AC,AT,AG,...,Latin America and the Caribbean,Антигуа и Барбуда,World,St. John's,NaN,.ag,en-AG,3576396.0,Antigua & Barbuda,B9

In [46]:
ccodes=ccodes[['ISO3166-1-Alpha-3','official_name_en']]
ccodes=ccodes.rename(columns={'official_name_en':'Country or Area', 'ISO3166-1-Alpha-3':'Code'})

In [47]:
df=pd.merge(df, ccodes, on=['Country or Area'], how='left')

In [48]:
print('Countries before dropping nan:',len(df['Country or Area'].unique()))

Countries before dropping nan: 228

In [49]:
df[df['Country or Area']=='Finland']

,Country or Area,Value,Year,Item,Code
53,Finland,51.034599,2017,Central Government Debt (Percent of GDP),FIN
228,Finland,49.337077,2018,Central Government Debt (Percent of GDP),FIN
403,Finland,49.128897,2019,Central Government Debt (Percent of GDP),FIN
583,Finland,3.2,2017,Real GDP growth (Annual percent change),FIN
811,Finland,1.3,2018,Real GDP growth (Annual percent change),FIN
1039,Finland,1.3,2019,Real GDP growth (Annual percent change),FIN
1267,Finland,-2.9,2020,Real GDP growth (Annual percent change),FIN
1495,Finland,2.3,2021,Real GDP growth (Annual percent change),FIN
1723,Finland,2.5,2022,Real GDP growth (Annual percent change),FIN
1951,Finland,1.5,2023,Real GDP growth (Annual percent change),FIN
2179,Finland,1.3,2024,Real GDP growth (Annual percent change),FIN
2407,Finland,1.3,2025,Real GDP growth (Annual percent change),FIN
2635,Finland,1.3,2026,Real GDP growth (Annual percent change),FIN

In [50]:
df2=df.dropna()

In [51]:
print('Countries before dropping nan:',len(df2['Country or Area'].unique()))

Countries before dropping nan: 167

In [52]:
df

,Country or Area,Value,Year,Item,Code
0,Afghanistan,7.99766,2017,Central Government Debt (Percent of GDP),AFG
1,Albania,70.118725,2017,Central Government Debt (Percent of GDP),ALB
2,Algeria,27.259228,2017,Central Government Debt (Percent of GDP),DZA
3,Angola,69.264947,2017,Central Government Debt (Percent of GDP),AGO
4,Antigua and Barbuda,92.322144,2017,Central Government Debt (Percent of GDP),ATG
...,...,...,...,...,...
2800,Middle East and Central Asia,3.6,2026,Real GDP growth (Annual percent change),NaN
2801,Other advanced economies,2.3,2026,Real GDP growth (Annual percent change),NaN
2802,Sub-Saharan Africa,4,2026,Real GDP growth (Annual percent change),NaN
2803,World,3.3,2026,Real GDP growth (Annual percent change),NaN
2804,"©IMF, 2021",NaN,2026,Real GDP growth (Annual percent change),NaN

In [53]:
df2.to_csv('IMF_statistics.csv', index=False)